/* App.css */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    /* Darker background */
    color: white;
    /* White text color */
}

.button {
    background-color: #222 !important;
}

.header {
    background-color: #111 !important;
    /* Slightly lighter grey */
    height: 3rem;
    /* Set a fixed height */
    padding: 0.5rem !important;
    /* Important to override Bulma's padding */
    text-align: center;
    font-size: small;
    display: flex;
    align-items: center;
    /* Vertically center the text */
    justify-content: center;
    /* Horizontally center the text */
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Horizontally center the content */
}

.middle-section {
    text-align: center;
}

.middle-section h2,
.middle-section p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer {
    background-color: #111 !important;
    /* Slightly lighter grey */
    height: 3rem;
    /* Set a fixed height */
    padding: 0.5rem !important;
    /* Important to override Bulma's padding */
    text-align: center;
    font-size: small;
    display: flex;
    align-items: center;
    /* Vertically center the text */
    justify-content: center;
    /* Horizontally center the text */
}

.animation-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0074d9;
    /* Cell background color */
    border-radius: 50%;
    pointer-events: none;
    /* Prevent interaction with cells */
}

/* Optional: Add animation effects */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.cell {
    animation: bounce 2s infinite;
}